- page_title "Starred Projects"
= render 'dashboard/projects_head'

- if @projects.any?
  = render 'shared/show_aside'

  .dashboard.row
    %section.activities.col-md-7
      = render 'dashboard/activities'
    %aside.col-md-5
      .panel.panel-default.projects-list-holder
        .panel-heading.clearfix
          .input-group
            = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'projects-list-filter form-control'
            - if current_user.can_create_project?
              %span.input-group-btn
                = link_to new_project_path, class: 'btn btn-success' do
                  New project

        = render 'shared/projects_list', projects: @projects,
          projects_limit: 20, stars: true, avatar: false

- else
  %h3 You don't have starred projects yet
  %p.slead Visit project page and press on star icon and it will appear on this page.
